<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Votes</title>
	</head>
	<body>
	<h1>Registered Votes</h1>
	<table border="1" cellpadding="5" cellspacing="5">
		<tr>
			<th>Voter ID#</th>
			<th>Candidate</th>
			<th>Issues</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		{% for vote in votes %}
		<tr>
			<td>{{ votes[loop.index0].VID }}</td>
			<td>{{ votes[loop.index0].candidate }}</td>
			<td>{{ votes[loop.index0].issues }}</td>
			<td>{{ votes[loop.index0].email }}</td>
			<td>{{ votes[loop.index0].phone }}</td>
			<td>
				<input type="button" value="Rig This Vote">
			</td>
			<td>
				<input type="button" value="Delete This Vote">
			</td>
		</tr>		
		{% endfor %}
	</table>
	</body>
</html>